body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background: linear-gradient(-45deg, #03ffe2, #0096c7, #00b4d8, #ffafcc);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
img {
  width: 500px;
  margin-left: 100px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  border-radius: 15px;
  background: linear-gradient(to bottom, #00b4d8, #0096c7);
  padding: 70px 50px;
}

i {
  font-size: 20px;
  margin-right: 30px;
  color: #184e77;
}

label {
  color: white;
}

input {
  display: flex;
  border: solid 1px #bde0fe;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  width: 370px;
}

#resultado {
  border: 1px solid #a2d2ff;
  padding-top: 60px;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 5px 5px 5px;
}

#result {
  position: relative;
  bottom: 30px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  left: 60px;
}

button {
  background: #003049;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}
button:hover {
  background-color: #023e8a;
  transform: scale(1.1);
}
button:active {
  transform: scale(0.9);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
  img {
    display: none;
  }
}
@media screen and (max-width: 428px) and (max-height: 926px) {
  form {
    padding: 5px 5px;
  }
}
